@page
@model IndexModel
@{
    ViewData["Title"] = "Players";
}
<form method="get" class="border border-dark p-4" style="max-width:400px">
    <div class="form-group">
        <label asp-for="Pname" class="form-check-label">Player Name? </label>
        <input type="text" asp-for="Pname" class="form-control-lg" />
    </div>
    <div class="form-group">
        <label asp-for="Tname">Team Name</label>
        <select asp-items="Model.TeamNames" asp-for="Tname" class="custom-select form-control-lg">
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Pos">Position</label>
        <select asp-items="Model.Postions" asp-for="Pos" class="custom-select form-control-lg">
            <option></option>
        </select>
    </div>
    <input type="submit" class="btn btn-success btn-lg btn-block" />
</form>
<div> 
    <table>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Number</th>
       </tr>
    
    @foreach(Player p in Model.Players)
    {
    <tr>
        <td><a asp-page="Details" asp-route-ID="@p.PlayerId">@p.Name</a></td>
        <td>@p.Position</td>
        <td>@p.Number</td>
    </tr>
    }
</table>
</div>
