@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/image//nfl/nfl.png" />
  <h1 class="display-4">Welcome to the NFL</h1>
   <p>Click on the Teams or the players to view details</p> 


</div>
